<a href="https://colab.research.google.com/github/rahulranjan612/Classification/blob/master/Assignment_11_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

transaction_train = pd.read_csv('/content/drive/My Drive/ML DataSets/train_transaction.csv')
transaction_train

       TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0            2987000        0          86400  ...   NaN  NaN   NaN
1            2987001        0          86401  ...   NaN  NaN   NaN
2            2987002        0          86469  ...   NaN  NaN   NaN
3            2987003        0          86499  ...   NaN  NaN   NaN
4            2987004        0          86506  ...   0.0  0.0   0.0
...              ...      ...            ...  ...   ...  ...   ...
20187        3007187        0         519594  ...   NaN  NaN   NaN
20188        3007188        0         519596  ...   0.0  0.0   0.0
20189        3007189        0         519597  ...   NaN  NaN   NaN
20190        3007190        0         519609  ...   NaN  NaN   NaN
20191        3007191        0         519612  ...   NaN  NaN   NaN

[20192 rows x 394 columns]

In [2]:
transaction_train.info()
trans_corr = transaction_train.head(1000)
trans_corr.corr().isFraud.sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20192 entries, 0 to 20191
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 60.7+ MB

isFraud    1.000000
V199       0.378018
V196       0.370067
V114       0.362762
V122       0.362762
             ...
V117            NaN
V118            NaN
V119            NaN
V241            NaN
V305            NaN
Name: isFraud, Length: 380, dtype: float64

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
transaction_train = transaction_train.fillna(0)
transaction_train = transaction_train.apply(lambda col: le.fit_transform(col.astype(str)), axis=0, result_type='expand')
drop_columns = ['isFraud']
features = transaction_train.drop(drop_columns,axis=1)
labels = transaction_train[['isFraud']]

transaction_train.columns[transaction_train.isnull().any()].tolist()
features

       TransactionID  TransactionDT  TransactionAmt  ...  V337  V338  V339
0                  0          18831            1817  ...     0     0     0
1                  1          18832             899  ...     0     0     0
2                  2          18833            1661  ...     0     0     0
3                  3          18834            1506  ...     0     0     0
4                  4          18835            1506  ...     0     0     0
...              ...            ...             ...  ...   ...   ...   ...
20187          20187          18826            1390  ...     0     0     0
20188          20188          18827             353  ...     0     0     0
20189          20189          18828            2111  ...     0     0     0
20190          20190          18829            2003  ...     0     0     0
20191          20191          18830             353  ...     0     0     0

[20192 rows x 393 columns]

In [4]:
from sklearn.impute import SimpleImputer

# Will use frequent strategy for below fields 
frequent_imputer = SimpleImputer(strategy='most_frequent')
mean_imputer = SimpleImputer(strategy='mean')
constant_imputer = SimpleImputer(strategy='constant',fill_value='OTHER')

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn import set_config
# set_config(display='diagram')

num_attr = features.select_dtypes(exclude=[object]).columns.values
cat_attr = features.select_dtypes(include=[object]).columns.values

# num_attr = ['card2','card3','card5','addr1','addr2','dist1','dist']

# cat_attr = ['card4','card6']

num_pipleline = Pipeline([('frequent_imputer',frequent_imputer),
                         ('stand_scaler' ,StandardScaler())])

cat_pipeline = Pipeline([
                        ('one_hot_enc',OneHotEncoder())
])

pipeline = ColumnTransformer([('numeric_transformer',num_pipleline,num_attr),
                             ('cat_transformer',cat_pipeline,cat_attr)
                             ])


pipeline

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('numeric_transformer',
                                 Pipeline(memory=None,
                                          steps=[('frequent_imputer',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='most_frequent',
                                                                verbose=0)),
                                                 ('stand_scaler',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,...
       'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328',
       'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336',
       'V337', 'V338', 'V339'], dtype=object)),
                                ('cat_transformer',
                                 Pipeline(memory=None,
                                          steps=[('one_hot_enc',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True))],
                                          verbose=False),
                                 array([], dtype=object))],
                  verbose=False)

In [6]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc_labels = enc.fit_transform(labels.values.ravel())
enc_labels

array([0, 0, 0, ..., 0, 0, 0])

In [7]:
from sklearn.neighbors import KNeighborsClassifier
model_pipeline = Pipeline([
  ('processing', pipeline),
  ('model', KNeighborsClassifier())
])
model_pipeline

Pipeline(memory=None,
         steps=[('processing',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('numeric_transformer',
                                                  Pipeline(memory=None,
                                                           steps=[('frequent_imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='most_frequent',
                                                                                 verbose=0)),
                                                                  ('stand_scaler...
                                                           steps=[('one_hot_enc',
                                                                   OneHotEncoder(categories='auto',
                                                                                 drop=None,
                                                                                 dtype=<class 'numpy.float64'>,
                                                                                 handle_unknown='error',
                                                                                 sparse=True))],
                                                           verbose=False),
                                                  array([], dtype=object))],
                                   verbose=False)),
                ('model',
                 KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=None, n_neighbors=5, p=2,
                                      weights='uniform'))],
         verbose=False)

In [8]:
model_pipeline.fit(features,labels.values.ravel())

Pipeline(memory=None,
         steps=[('processing',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('numeric_transformer',
                                                  Pipeline(memory=None,
                                                           steps=[('frequent_imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='most_frequent',
                                                                                 verbose=0)),
                                                                  ('stand_scaler...
                                                           steps=[('one_hot_enc',
                                                                   OneHotEncoder(categories='auto',
                                                                                 drop=None,
                                                                                 dtype=<class 'numpy.float64'>,
                                                                                 handle_unknown='error',
                                                                                 sparse=True))],
                                                           verbose=False),
                                                  array([], dtype=object))],
                                   verbose=False)),
                ('model',
                 KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=None, n_neighbors=5, p=2,
                                      weights='uniform'))],
         verbose=False)

In [9]:
test_df = pd.read_csv('/content/drive/My Drive/ML DataSets/test_transaction.csv')
test_df
test_df = test_df.apply(lambda col: le.fit_transform(col.astype(str)), axis=0, result_type='expand')
prediction = model_pipeline.predict(test_df)
prediction

array([0, 0, 0, ..., 1, 0, 0])

In [10]:
predictions_df = pd.DataFrame({
            'TransactionID': test_df.TransactionID,
            'isFraud': prediction
})

predictions_df.to_csv('/content/drive/My Drive/ML DataSets/predictions.csv',index=False)

In [11]:
# from sklearn.metrics import accuracy_score
# accuracy_score(test_df, model_pipeline.predict(features))

In [12]:
import joblib
joblib.dump(model_pipeline, 'fraudulent_model.pkl')
joblib.dump(prediction, 'fraudulent_prediction.pkl')
joblib.dump(test_df, 'test_df.pkl')

['test_df.pkl']

In [13]:
test_df

       TransactionID  TransactionDT  TransactionAmt  ...  V337  V338  V339
0                  0              0             885  ...    62    89    72
1                  1              1            1312  ...    62    89    72
2                  2              2             411  ...    62    89    72
3                  3              2             797  ...    62    89    72
4                  4              3            1581  ...    62    89    72
...              ...            ...             ...  ...   ...   ...   ...
22900          22900          22396             988  ...    62    89    72
22901          22901          22397            1834  ...    62    89    72
22902          22902          22398             312  ...     0     0     0
22903          22903          22399             988  ...    62    89    72
22904          22904          22400            1373  ...    62    89    72

[22905 rows x 393 columns]